/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:
$blc-light-green: #b2ccac;
// special colors

.wpcf7-response-output.wpcf7-mail-sent-ok {
  background-color: $blc-light-green
}
/* ----------- end Colors ----------- */
